<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tristenallen.watersource">

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity">
        </activity>
        <activity
                android:name=".main.MainActivity"
                android:label="@string/title_activity_main"
                android:parentActivityName=".login.LoginActivity"
                android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                    android:name="android.support.PARENT_ACTIVITY"
                    android:value="com.tristenallen.watersource.login.LoginActivity"/>
        </activity>
        <activity android:name=".login.RegistrationActivity"></activity>
        <activity android:name=".controller.EditProfileActivity"></activity>
        <activity android:name=".controller.ViewProfileActivity"></activity>
    </application>

</manifest>